<h2>Select an emoji</h2>

<a (click)="ref.dismiss(emoji)" *ngFor="let emoji of emojiList" >
  <i class="e1a-{{ emoji }} e1a-2x"></i>
</a>

<p>
  <button mat-raised-button (click)="ref.dismiss()">Cancel</button>
</p>