<div class="flexbox-item-grow fill-area fill-area-content list meditations-container" *ngIf="!(ownSession$ | async)">
  <meditation-chart class="no-shrink"></meditation-chart>

  <mat-divider></mat-divider>

  <div *ngIf="commitments">
    <div *ngFor="let id of keys(commitments)" class="commitment">
      <mat-progress-spinner
        class="inline"
        mode="determinate"
        [value]="commitments[id].reached"
        [diameter]="22"
        title="{{ commitments[id].reached }}%"
      >
      </mat-progress-spinner>

      <span class="commitment-percent">{{ commitments[id].reached }}%</span>
      <span class="commitment-name">{{ commitments[id].minutes }} minutes {{ commitments[id].type }}</span>

    </div>
  </div>

  <mat-divider class="clearfix"></mat-divider>

  <div *ngIf="(activeMeditations$ | async)?.length > 0" class="no-shrink">
    <mat-card-title class="padding">
      <span>Currently meditating</span>
      <span class="fill"></span>

      <button
        mat-icon-button
        mat-raised-button
        color="primary"
        class="like-button"
        title="Give anumodana to all. Can be interpreted as a thumbs up."
        (click)="like()"
        [disabled]="(liking$ | async) || (profile$ | async)?.lastLike > (lastMeditationSession$ | async)"
      >
        <mat-spinner *ngIf="(liking$ | async)" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        <span *ngIf="!(liking$ | async)">
          <img src="assets/img/left_hand.png" class="left-hand">
          <img src="assets/img/right_hand.png" class="right-hand">
        </span>
      </button>

    </mat-card-title>
    <mat-card class="nopadding">
      <mat-list class="meditations">
        <div *ngFor="let meditation of (activeMeditations$ | async)" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <mat-divider class="meditation-divider"></mat-divider>
        </div>
      </mat-list>
    </mat-card>
  </div>

  <div *ngIf="(finishedMeditations$ | async)?.length > 0" class="no-shrink">
    <mat-card-title class="padding">
      <span>Finished meditating</span>
      <span class="fill"></span>

      <button
        *ngIf="(activeMeditations$ | async)?.length < 1"
        mat-icon-button
        mat-raised-button
        color="primary"
        class="like-button"
        title="Give anumodana to all. Can be interpreted as a thumbs up."
        (click)="like()"
        [disabled]="(liking$ | async) || (profile$ | async)?.lastLike > (lastMeditationSession$ | async)"
      >
        <mat-spinner *ngIf="(liking$ | async)" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
        <span *ngIf="!(liking$ | async)">
          <img src="assets/img/left_hand.png" class="left-hand">
          <img src="assets/img/right_hand.png" class="right-hand">
        </span>
      </button>
    </mat-card-title>
    <mat-card class="nopadding">
      <mat-list class="meditations">
        <div *ngFor="let meditation of (finishedMeditations$ | async)" class="meditation-row">
          <meditation-list-entry [meditation]="meditation" (liked)="loadMeditations()"></meditation-list-entry>
          <mat-divider class="meditation-divider"></mat-divider>
        </div>
      </mat-list>
    </mat-card>
  </div>

  <div
    *ngIf="(loadedInitially$ | async) && (finishedMeditations$ | async)?.length + (activeMeditations$ | async)?.length === 0"
  >
    <mat-card-title class="padding">No recent meditations</mat-card-title>
  </div>

  <div *ngIf="!(loadedInitially$ | async)" class="loader">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div class="flex start-session-wrapper">
  <div class="start-session-btn" *ngIf="!(ownSession$ | async)">
    <button
      mat-mini-fab
      (click)="openSheet()"
      title="Start own meditation session."
    >
      <mat-icon>alarm_on</mat-icon>
    </button>
  </div>
</div>

<app-own-meditation *ngIf="(ownSession$ | async)"></app-own-meditation>