.load-button
  display: block
  margin: auto
  margin-top: 10px
  margin-bottom: 10px

.question-form > div
  margin-top: 20px

.question-container
  height: 300px
  overflow-y: scroll
  overflow-x: hidden

.question-form textarea
  width: 100%
  box-sizing: border-box         /* For IE and modern versions of Chrome */
  -moz-box-sizing: border-box    /* For Firefox                          */
  -webkit-box-sizing: border-box /* For Safari                           */

mat-tab-group
  display: block
  min-height: 50px
  flex-shrink: 0

.info-msg
  margin-top: 20px

.question-row
  flex: 1

.questions
  height: 300px
  overflow-y: scroll
  overflow-x: hidden

.question-input
  margin-right: 10px

.emoji-btn
  margin-right: 10px
  margin-top: 15px
  cursor: pointer

ul li
  font-size: 14px
  margin: 0 0 5px 0

.search-params > *
  margin-right: 10px
