<mat-card>
  <mat-card-title>Your app has been updated</mat-card-title>

  <p>
    You're now using the latest version of Meditation+.
  </p>

  <p>
    <a href="https://gitlab.com/sirimangalo/meditation-plus/tags" target="blank">
      See the latest changes
    </a>
  </p>

  <p>
    <a [routerLink]="['']">
      Go to Home
    </a>
  </p>
</mat-card>