<div *ngIf="data">
  <h4>This Week</h4>
  <div class="chart-wrapper">
    <p-chart type="bar" [data]="chartData.week" [options]="chartOptions"></p-chart>
  </div>

  <h4>{{ currentMonth }}</h4>
  <button
    mat-mini-fab
    color="primary"
    (click)="loadNextMonth()"
    style="margin-right: 5px;"
    [disabled]="monthOffset >= maxMonthOffset"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-mini-fab color="primary" (click)="loadNextMonth(false)" [disabled]="monthOffset <= 0">
    <mat-icon>arrow_forward</mat-icon>
  </button>
  <div class="chart-wrapper">
    <p-chart type="line" [data]="chartData.month" [options]="chartOptions"></p-chart>
  </div>

  <h4>Past Year</h4>
  <div class="chart-wrapper">
    <p-chart type="bar" [data]="chartData.year" [options]="chartOptions"></p-chart>
  </div>
</div>
