<mat-card>
  <div class="center">
    <p><img class="profile-img" avatar [hash]="(ownSession$ | async).user.gravatarHash"></p>
    <span *ngFor="let meditation of (activeMeditations$ | async)">
      <img
        class="small-profile-img"
        avatar
        [hash]="meditation.user.gravatarHash"
        title="{{ meditation.user.name }} is also meditating right now."
        size="32"
        *ngIf="(ownSession$ | async).user._id !== meditation.user._id"
      >
    </span>
    <h3>Meditating</h3>

    <span class="time-left">
      {{ (ownSession$ | async) | timeLeft: 'both':true}}
    </span>

    <div
      class="status"
      [class.status-single]="!(ownSession$ | async).walking || !(ownSession$ | async).sitting"
    >
      <div [class.no-padding]="!(ownSession$ | async).sitting" class="walking" *ngIf="(ownSession$ | async).walking">
        <mat-progress-spinner
          mode="determinate"
          [class.inactive]="!(ownSession$ | async).walkingLeft"
          [value]="(ownSession$ | async) | timeLeft: 'walking'"
          #progressWalking
        >
        </mat-progress-spinner>

        <div class="progress">
          <mat-icon>
            directions_walk
          </mat-icon>
        </div>

        <span class="time-done" *ngIf="(ownSession$ | async).sitting">
          {{ (ownSession$ | async) | timeLeft: 'walking':true}} left
        </span>
      </div>

      <div [class.no-padding]="!(ownSession$ | async).walking" class="sitting" *ngIf="(ownSession$ | async).sitting">
        <mat-progress-spinner
          mode="determinate"
          [class.inactive]="!(ownSession$ | async).sittingLeft"
          [value]="(ownSession$ | async) | timeLeft: 'sitting'"
          #progressSitting
        >
        </mat-progress-spinner>

        <div class="progress">
          <img src="/assets/img/sitting.svg">
        </div>

        <span class="time-done" *ngIf="(ownSession$ | async).walking">
          {{ (ownSession$ | async) | timeLeft: 'sitting':true}} left
        </span>
      </div>
    </div>

    <div *ngIf="(ownSession$ | async).walkingLeft == (ownSession$ | async).walking && (ownSession$ | async).sittingLeft == (ownSession$ | async).sitting">
      <i class="e1a-pray"></i><br>
      Have a good session.
    </div>

    <p><button mat-raised-button (click)="stop()">FINISH EARLY</button></p>
  </div>
</mat-card>