.bell-btn
  width: 25px
  height: 25px
  margin-left: 10px

.bell-btn mat-icon
  margin-top: -16px

.admin-section
  border-radius: 5px
  border: 2px solid red
  padding: 15px

.admin-section > h3
  margin-top: 0
  text-transform: uppercase

.admin-section > h4
  margin-bottom: 4px

mat-panel-title
  align-items: center
