<user-text-list-entry
  [class.answering]="question.answeringAt && !question.answered"
  [user]="question.user"
  [text]="question.text"
  [date]="question.createdAt"
>
  <span *ngIf="loading">
    <mat-spinner [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
  </span>
  <p mat-line *ngIf="question.answeredAt">
    <span class="question-text answered-at">
      -- Answered at {{ question.answeredAt | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}
    </span>
  </p>

  <p mat-line class="button-area">
    <button
      *ngIf="mode != 'suggestion' && (!question.answered || question.answered && question.numOfLikes > 0)"
      mat-icon-button
      matTooltip="Add a thumbs up"
      [disabled]="loading || question.answered || question.alreadyLiked || (question.user && question.user._id === (userId$ | async))"
      (click)="like()"
    >
      <mat-icon>thumb_up</mat-icon> {{ question.numOfLikes }}
    </button>
    <button
      *ngIf="mode != 'suggestion' && !question.answeringAt && !question.answered && (isAdmin$ | async)"
      mat-raised-button
      matTooltip="Start answering"
      mat-icon-button
      color="primary"
      [disabled]="loading"
      (click)="answering()"
    >
      <mat-icon>comment</mat-icon>
    </button>
    <button
      *ngIf="mode != 'suggestion' && question.answeringAt && !question.answered && (isAdmin$ | async)"
      mat-raised-button
      matTooltip="Cancel answering"
      mat-icon-button
      color="primary"
      [disabled]="loading"
      (click)="unanswering()"
    >
      <mat-icon>cancel</mat-icon>
    </button>
    <button
      *ngIf="mode != 'suggestion' && !question.answered && (isAdmin$ | async)"
      mat-raised-button
      matTooltip="Mark as answered"
      mat-icon-button
      color="primary"
      [disabled]="loading"
      (click)="answer()"
    >
      <mat-icon>check</mat-icon>
    </button>
    <button
      *ngIf="mode != 'suggestion' && ((isAdmin$ | async) || (question.user && (userId$ | async) === question.user._id))"
      mat-raised-button
      matTooltip="Delete question"
      mat-icon-button
      color="warn"
      [disabled]="loading"
      (click)="delete()"
    >
      <mat-icon>remove_circle</mat-icon>
    </button>
    <button
      *ngIf="question.answered && !question.videoUrl"
      mat-icon-button
      mat-raised-button
      matTooltip="Suggest YouTube link or time for this answer."
      (click)="suggestVideoUrl()"
    >
      <mat-icon>video_call</mat-icon>
    </button>
    <a
      *ngIf="question.answered && (question.broadcast?.videoUrl || question.videoUrl)"
      mat-raised-button
      mat-icon-button
      color="primary"
      matTooltip="Jump to answer in broadcast"
      (click)="showYoutubePlayer = !showYoutubePlayer"
    >
      <mat-icon *ngIf="!showYoutubePlayer">videocam</mat-icon>
      <mat-icon *ngIf="showYoutubePlayer">close</mat-icon>
    </a>
  </p>
</user-text-list-entry>
<div *ngIf="showYoutubePlayer" class="video-wrapper">
  <div class="video-container">
    <iframe
      type="text/html"
      [width]="640"
      [height]="360"
      [src]="question | broadcastUrl"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
    ></iframe>
  </div>
</div>
<mat-divider class="question-divider"></mat-divider>
